{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container py-4" style="max-width: 500px;">
    <h3 class="mb-3">Create an Account</h3>

    <div class="card shadow-sm">
        <div class="card-body">

            <form method="POST">
                <!-- User email -->
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input 
                        type="text" 
                        name="email" 
                        class="form-control" 
                        required 
                        value="{{ email }}">
                </div>

                <!-- Username -->
                <div class="mb-3">
                    <label class="form-label">User name</label>
                    <input 
                        type="text" 
                        name="username" 
                        class="form-control" 
                        required 
                        value="{{ username}}">
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input 
                        type="password" 
                        name="password" 
                        class="form-control" 
                        required>
                </div>

                <!-- Role -->
                <label class="form-label">Select Role</label>
                <div class="mb-3">
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="role" 
                            value="senior"
                            required
                            {% if role == "senior" %}checked{% endif %}>
                        <label class="form-check-label">Senior</label>
                    </div>

                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="role" 
                            value="user"
                            {% if role == "user" %}checked{% endif %}>
                        <label class="form-check-label">User</label>
                    </div>
                </div>

                <button class="btn btn-primary w-100" type="submit">Register</button>

            </form>
        </div>
    </div>

    <p class="text-center mt-3">
        Already have an account?
        <a href="{{ url_for('login_user') }}">Login here</a>
    </p>
</div>
{% endblock %}
